<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @medico.nome %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @medico.matricula %>
</p>

<p>
  <strong>Especialidade:</strong>
  <%= @medico.especialidade %>
</p>

<%= link_to 'Edit', edit_medico_path(@medico) %> |
<%= link_to 'Back', medicos_path %>
